Repository leomorpho/ramble-ai-be: changes, and which lefthook commands are due for each by the changed paths.
All: backend-tests, frontend-tests

backend-tests:
  run: cd pb && go test ./... -v
  fail_text: Backend Go tests failed

frontend-tests:
  run: cd sk && npm run test
  fail_text: Frontend tests failed

Implement single-subscription model with pending plan architecture
  pb/internal/stripe/endpoints.go
  pb/internal/stripe/webhooks.go
  pb/internal/subscription/service_test.go
  pb/pb_bootstrap/pb_schema.json
Due: backend-tests

Fix failing SwitchToFreePlan test by creating subscription record for free plans
  pb/internal/subscription/service.go
Due: backend-tests

Fix critical payment system issues and webhook handling
  CLAUDE.md
  Makefile
  README.md
  pb/internal/payment/endpoints.go
  pb/internal/payment/service.go
  pb/internal/payment/stripe_setup.go
  pb/internal/payment/webhook_handler.go
  pb/internal/seeder/subscription_plans.go
  pb/internal/subscription/endpoints.go
  pb/main.go
  sk/src/lib/payment.ts
  sk/src/lib/pocketbase.ts
  sk/vitest-setup-client.ts
Due: backend-tests, frontend-tests

Enable end-to-end Stripe webhook processing for subscription management
  pb/internal/payment/webhook_handler.go
Due: backend-tests

Implement event-driven subscription architecture with pending states and audit trail
  pb/internal/subscription/models.go
  pb/internal/subscription/repository.go
  pb/internal/subscription/service.go
  pb/internal/subscription/service_test.go
  pb/main.go
  pb/pb_bootstrap/pb_schema.json
Due: backend-tests

Fix subscription cancellation authentication and preserve billing benefits
  pb/internal/subscription/clean_service.go
  pb/internal/subscription/clean_service_test.go
  pb/internal/subscription/clean_validator.go
  pb/internal/subscription/domain.go
  pb/internal/subscription/endpoints.go
  pb/internal/subscription/integration_test.go
  pb/internal/subscription/pocketbase_adapter.go
  pb/internal/subscription/service.go
  pb/internal/subscription/service_test.go
  pb/internal/subscription/teststore.go
  pb/main.go
  sk/src/lib/payment.ts
  sk/src/lib/stores/subscription.svelte.ts
  sk/src/routes/(app)/pricing/+page.svelte
  sk/src/routes/(protected)/dashboard/+page.svelte
Due: backend-tests, frontend-tests

Add upcoming/pending plan display functionality for subscription downgrades
  sk/e2e/demo.test.ts
  sk/src/lib/components/LoginForm.svelte
  sk/src/lib/components/LoginForm.svelte.test.ts
  sk/src/lib/components/ui/label/label.svelte
  sk/src/lib/stores/subscription.svelte.ts
  sk/src/routes/(app)/pricing/+page.svelte
  sk/src/routes/(protected)/dashboard/+page.svelte
Due: frontend-tests

Fix failing integration test for subscription service
  pb/internal/payment/endpoints.go
  pb/internal/payment/interface.go
  pb/internal/payment/service.go
  pb/internal/payment/webhook_handler.go
  pb/internal/subscription/clean_service.go
  pb/internal/subscription/clean_service_test.go
  pb/internal/subscription/clean_validator.go
  pb/internal/subscription/domain.go
  pb/internal/subscription/endpoints.go
  pb/internal/subscription/integration_test.go
  pb/internal/subscription/models.go
  pb/internal/subscription/pocketbase_adapter.go
  pb/internal/subscription/repository.go
  pb/internal/subscription/service.go
  pb/internal/subscription/service_test.go
  pb/internal/subscription/stripe_service.go
  pb/internal/subscription/teststore.go
  pb/internal/subscription/time_provider.go
  pb/main.go
  pb/pb_bootstrap/pb_schema.json
  sk/src/lib/payment.ts
  sk/src/lib/stores/subscription.svelte.ts
  sk/src/routes/(app)/pricing/+page.svelte
  sk/src/routes/(protected)/dashboard/+page.svelte
Due: backend-tests, frontend-tests

Remove stale integration test and clean up unused imports
  pb/internal/subscription/service_test.go
Due: backend-tests

Fix Sentry integration and frontend dev server issues
  sk/.env.example
  sk/SENTRY_SETUP.md
  sk/package.json
  sk/pnpm-lock.yaml
  sk/src/hooks.client.ts
  sk/src/hooks.server.ts
  sk/src/lib/components/ErrorTestComponent.svelte
  sk/src/lib/logger.ts
  sk/src/routes/(app)/pricing/+page.svelte
  sk/src/routes/(app)/sentry-test/+page.svelte
  sk/vite.config.ts
Due: frontend-tests

Fix password validation in signup form
  sk/src/lib/components/LoginForm.svelte.test.ts
  sk/src/lib/components/SignupForm.svelte
  sk/src/lib/components/SignupForm.svelte.test.ts
Due: frontend-tests

Improve API key usage display and fix OTP CORS issues
  pb/internal/otp/otp.go
  pb/main.go
  sk/src/lib/components/APIKeyManager.svelte
  sk/src/lib/components/OTPVerification.svelte
Due: backend-tests, frontend-tests

Fix production CORS configuration and deployment issues
  config/deploy.yml
  pb/internal/otp/otp.go
  pb/main.go
Due: backend-tests

Fix health endpoint route conflict with PocketBase built-in endpoint
  config/deploy.yml
  pb/main.go
Due: none

Use PocketBase built-in health endpoint instead of custom one
  config/deploy.yml
  pb/main.go
Due: none

Add forgot-password page for password reset functionality
  sk/src/routes/(app)/forgot-password/+page.svelte
Due: frontend-tests

Fix email verification in production by updating templates and adding frontend routes
  pb/main.go
  pb/pb_bootstrap/pb_schema.json
  sk/src/lib/components/SignupForm.svelte
  sk/src/lib/components/SignupForm.svelte.test.ts
  sk/src/routes/(app)/auth/confirm-email-change/+page.svelte
  sk/src/routes/(app)/auth/reset-password/+page.svelte
  sk/src/routes/(app)/auth/verify/+page.svelte
Due: frontend-tests

Fix production OTP email sending and CORS issues
  pb/internal/otp/otp.go
  pb/main.go
  sk/src/lib/components/OTPVerification.svelte
Due: backend-tests, frontend-tests

Fix OTP send loop by preventing automatic retries
  sk/src/lib/components/OTPVerification.svelte
Due: frontend-tests

Add bulletproof guards to prevent OTP infinite loop
  pb/internal/otp/otp.go
  sk/src/lib/components/OTPVerification.svelte
Due: backend-tests, frontend-tests

Remove person lucide icons from dashboard
  sk/src/routes/(protected)/dashboard/+page.svelte
Due: frontend-tests

Fix dashboard navigation buttons to prevent full page reloads
  sk/src/routes/(app)/forgot-password/+page.svelte
  sk/src/routes/(protected)/dashboard/+page.svelte
Due: frontend-tests

Fix Makefile pb target to properly handle NUKE=1 parameter and improve forgot password form
  Makefile
  sk/src/routes/(app)/forgot-password/+page.svelte
Due: frontend-tests

Add scheduled OTP cleanup job to remove expired entries every 10 minutes
  pb/internal/jobs/otp_cleanup.go
  pb/internal/jobs/registry.go
  pb/main.go
Due: backend-tests

Remove display_order field usage and implement price-based plan ordering
  pb/internal/seeder/subscription_plans.go
  pb/internal/subscription/repository.go
  sk/src/lib/stores/subscription.svelte.ts
  sk/src/routes/(app)/pricing/+page.svelte
Due: backend-tests, frontend-tests

Implement audio transcription usage limit enforcement
  pb/internal/ai/endpoints.go
  pb/internal/ai/usage_limits_test.go
Due: backend-tests

Implement audio transcription usage limit enforcement for free tier users
  pb/internal/ai/endpoints.go
  pb/internal/ai/usage_limits_test.go
  pb/internal/subscription/service.go
Due: backend-tests

Update development data and schema changes
  data/mailpit.db
  data/mailpit.db-shm
  data/mailpit.db-wal
  pb/pb_bootstrap/pb_schema.json
Due: none

Add banner seeding and update deployment configuration
  config/deploy.yml
  pb/internal/ai/endpoints.go
  pb/internal/seeder/banners.go
  pb/internal/seeder/seeder.go
  pb/internal/subscription/repository.go
Due: backend-tests

Improve audio transcription with grace period and accurate duration parsing
  pb/.env.example
  pb/go.mod
  pb/go.sum
  pb/internal/ai/endpoints.go
  pb/internal/ai/usage_limits_test.go
Due: backend-tests

Update usages overview layout from 3 to 2 columns
  sk/src/routes/(protected)/usages/+page.svelte
Due: frontend-tests

Relocate privacy message in usages page to reduce whitespace
  sk/src/routes/(protected)/usages/+page.svelte
Due: frontend-tests

Update .gitignore for Go project and PocketBase environment
  .gitignore
  data/mailpit.db
  pb/internal/banners/endpoints.go
  pb/main.go
  pb/pb_bootstrap/pb_schema.json
Due: backend-tests

Path conditions:
  backend-tests: any of: pb/**/*.go
  frontend-tests: any of: sk/**/*.{js,ts,svelte}
